<nav class="flex items-center justify-between mb-5 ml-5">
    <div class="flex items-center gap-4">
        <a class="text-gray-900" href="/">
            <img src="/knitting.png" width="50" height="50" alt="Image" />
        </a>
        <ul class="flex flex-row space-x-4 items-center">
           
        </ul>
    </div>

    <ul class="flex flex-row space-x-4 items-center">
        <li>
            <a class="text-gray-500" href="/shop/0">Shop</a>
        </li>
        <li>
            <a class="text-gray-500" href="/about">About</a>
        </li>
        <li>
            <a class="text-gray-500" href="/">Cart</a>
        </li>
        <li>
            <a class="text-gray-500" href="/">Profile</a>
        </li>
    </ul>
</nav>