<nav class="flex items-center justify-between">
    <div class="flex gap-4">
        <a class="text-gray-900" href="/">LOGO</a>
        <ul class="flex flex-row space-x-4">
            <li>
                <a class="text-blue-500" href="/">Home</a>
            </li>
            <li>
                <a class="text-blue-500" href="/plush-toys">Plush Toys</a>
            </li>
            <li>
                <a class="text-blue-500" href="/clothing">Clothing</a>
            </li>
            <li>
                <a class="text-blue-500" href="/about">About</a>
            </li>
        </ul>
    </div>

    <ul class="flex flex-row space-x-4">
        <li>
            <a class="text-blue-500" href="/">Search</a>
        </li>
        <li>
            <a class="text-blue-500" href="/">Cart</a>
        </li>
        <li>
            <a class="text-blue-500" href="/">Profile</a>
        </li>
    </ul>
</nav>